<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>

	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	<!-- <link rel="stylesheet" type="text/css" media="screen" href="reset.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" media="screen" href="proj.css" /> -->

	<link rel="stylesheet" type="text/css" href="myCss.css" />
	<script type="text/javascript"	src="javasc.js"></script>
	<script type="text/javascript" src="dygraph-combined-dev.js"></script>
	<script type="text/javascript"	src="tablejs.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>
<body>


	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Dr. Miller</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav ">
						<li><a href="../LoginWeb.html">Sign out</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Patients <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>Maria Rodregez</li>
							</ul>
						</li>
					</ul>

				</div><!-- /.navbar-collapse -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Maria Rodregez</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav ">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notification <span class="caret"></span></a>
 							<ul class="dropdown-menu">
								<!--<li  onclick="tempD()"><a href="https://archhacks.herokuapp.com/temperature">Temperature</a></li>
								<li  onclick="beatD()"><a href="https://archhacks.herokuapp.com/beats">Pulse</a></li>
								<li  onclick="soundD()"><a href="https://archhacks.herokuapp.com/sound">Cough</a></li> -->
								<li  onclick="tempD()"><a href="http://localhost:3000/temperature">Temperature</a></li>
								<li  onclick="beatD()"><a href="http://localhost:3000/beats">Pulse</a></li>
								<li  onclick="soundD()"><a href="http://localhost:3000/sound">Cough</a></li>
							</ul>
						</li>
					</ul>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div style="margin:50px">
			<!--for demo wrap-->
			<h1><%= headName %></h1>

			<div id ="tempH" class="tbl-header" style="display:none">
				<table cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th>Temperature</th>
							<th>Date</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id ="tempB" class="tbl-content" style="display:none">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr>
							<td>38.64</td>
							<td>2016-11-06 15:28:57</td>
						</tr>
						<tr>
							<td>36.93</td>
							<td>2016-11-06 15:28:59</td>
						</tr>
						<tr>
							<td>36.89</td>
							<td>2016-11-06 15:31:05</td>
						</tr>
						<tr>
							<td>37.06</td>
							<td>2016-11-06 15:31:20</td>
						</tr>
						<tr>
							<td>38.71</td>
							<td>2016-11-06 15:32:22</td>
						</tr>
						<tr>
							<td>38.07</td>
							<td>2016-11-06 15:32:25</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id ="beatH" class="tbl-header" style="display:none">
				<table cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th>Pulse</th>
							<th>Date</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id ="beatB" class="tbl-content" style="display:none">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr>
							<td>140</td>
							<td>2016-11-06 15:40:35</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div id ="soundH" class="tbl-header" style="display:none">
				<table cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th>Decibels</th>
							<th>Date</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id ="soundB" class="tbl-content" style="display:none">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr>
							<td>5500</td>
							<td>2016-11-06 15:35:43</td>
						</tr>
					</tbody>
				</table>
			</div>




		</div>


		<div class="jumbotron">
			<div id="graphdiv"></div>
		</div>

	</div>


	<script type="text/javascript">
		var data = <%- JSON.stringify(myVar) %>;

		Plotly.newPlot('graphdiv', data);

	</script>

	<script type="text/javascript" src="disp.js"></script>
<!--
	<script type="text/javascript">

		g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    "Date,Temprature\n" +
    "2008-05-07,75\n" +
    "2008-05-08,70\n" +
    "2008-05-09,80\n"

    );
</script>
-->
</body>
</html>